* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin: 0;
  padding: 0;
}

.top_menu {
  /*Campo com o imagens Ari e Logo */
  width: 120%;
  padding: 15px 0 60px;
  border-bottom: 1px solid #efefef;
}

.top_menu .assistente {
  position: absolute;
  width: 200px;
  height: 80px;
  top: 0px;
  bottom: 0px;
  left: 120px;
}

.top_menu .ari {
  position: absolute;
  width: 20%;
  height: 100px;
  top: 0px;
  bottom: 0px;
  left: 25px;
}

.top_menu .logo {
  position: absolute;
  width: 88px;
  height: 60px;
  top: 23px;
  right: 0px;
}

.ari {
  background-image: url("../img/ari100.png");
  background-repeat: no-repeat;
}

.logo {
  background-image: url("../img/logo50.png");
  background-repeat: no-repeat;
}

div {
  word-wrap: break-word;
  line-height: 2.25rem;
}

.disclaimer {
  font-size: 0.75rem;
  padding: 0.5rem;
}

.assistente h3 span {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  margin-top: 15px;
  float: left;
}

#view-change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #ab72f8;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
}

#view-change-button img {
  display: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#view-change-button:not(.full) .not-full {
  display: inline-block;
}

#view-change-button.full .full {
  display: inline-block;
}

#contentParent {
  height: 537px;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: visible;
}

.button-send {
  background: #eee;
  background-image: url("../img/send.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px #fff;
  text-indent: -9000px;
  text-align: center;
  position: absolute;
  line-height: 34px;
  width: 40px;
  font-size: 18px;
  border-radius: 44px;
  z-index: 1;
  bottom: 30px;
  right: 21px;
  cursor: pointer;
}

#chat-column-holder {
  text-align: left;
}

.chat-column {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}

.user-typing {
  border: none;
  color: #8d25e8;
  margin: 0.75rem;
  font-size: 15;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(78% - 4rem);
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.message-inner ul {
  padding: 0px;
  margin: 10px 0px;
  list-style: none;
}

.message-inner p span ul {
  padding: 0px;
  margin: 10px 0px;
  list-style: none;
}

.message-inner p span ul li {
  padding: 5px;
  margin: 5px 0px;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  position: relative;
  font-size: 1.125rem;
  color: #eeeeee;
  letter-spacing: 0.015rem;
  line-height: 2.555rem;
  background: #2980b9;
  border-radius: 1.25rem 1.25rem 0 1.25rem;
  text-align: left;
  display: block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-watson > .message-inner > p {
  margin: 12px;
  padding: 10px;
}

.from-watson,
.message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1.125rem;
  color: #ffffff;
  letter-spacing: 0.415rem;
  line-height: 2.3125rem;
}

.from-watson.latest .message-inner {
  color: #ffffff;
}

.from-watson p {
  letter-spacing: 0.015rem;
  line-height: 1.655rem;
  margin: 1.6125rem;
  padding: 1px 1.25rem;
  background: #eee;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  margin-left: 5, 5rem;
  min-width: 2.5rem;
  color: #555;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.from-watson span {
  margin: 10px 0px;
  display: block;
}

#textInput {
  z-index: 0;
  display: block;
  outline: none;
  font-size: 1.525rem;
  color: #214e6e;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 4.5rem;
  width: 440px !important;
  background-color: #eee;
  border-radius: 5px 5px 5px 5px;
  border-color: #eee;
  border: 1px solid #ccc !important;
  padding-left: 20px;
  padding-right: 38px;
  bottom: 20px;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  position: absolute;
  left: 20px;
}

#textInput.underline {
  border-bottom: 1px solid #323232;
}

::-webkit-input-placeholder {
  color: #214e6e;
  opacity: 1;
}

::-moz-placeholder {
  color: #214e6e;
  opacity: 1;
}

input:-moz-placeholder {
  color: #214e6e;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #214e6e;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  margin-left: 2rem;
  margin-right: 17rem;
  border-radius: 1, 25rem 1, 25rem 1, 25rem 1, 25rem;
  border-color: blue;
  padding: 15px 20px;
  bottom: 0;
}

#textInputDummy {
  position: absolute;
  white-space: pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#payload-column {
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #23292a;
  color: #fff;
  overflow-x: auto;
  width: 45%;
  max-width: 0rem;
  min-width: 0rem;
}

#payload-column.full {
  width: 100%;
  max-width: none;
  min-width: initial;
}

#payload-column .header-text,
#payload-column #payload-initial-message {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 1.125rem;
  color: #9e9e9e;
  letter-spacing: 0.01875rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  background: #383d3e;
}

.hide {
  display: none;
}

.payload .line-numbers,
.payload .payload-text {
  padding: 0.5rem;
}

.line-numbers {
  width: 2rem;
  color: #898989;
  text-align: right;
}

pre {
  margin: 0;
  word-wrap: normal;
}

.string {
  color: #54eed0;
}

.boolean,
.null,
.number {
  color: #ce8eff;
}

.key {
  color: #66b7ff;
}

html {
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .chat-column {
    padding-top: 0px;
  }

  #payload-column {
    width: 0;
    max-width: none;
    min-width: initial;
  }
}

@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/light/h-n-light.eot?") format("eot"),
    url("../fonts/light/h-n-light.woff2") format("woff2"),
    url("../fonts/light/h-n-light.woff") format("woff"),
    url("../fonts/light/h-n-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/light-italic/h-n-light-italic.eot?") format("eot"),
    url("../fonts/light-italic/h-n-light-italic.woff2") format("woff2"),
    url("../fonts/light-italic/h-n-light-italic.woff") format("woff"),
    url("../fonts/light-italic/h-n-light-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/roman/h-n-roman.eot?") format("eot"),
    url("../fonts/roman/h-n-roman.woff2") format("woff2"),
    url("../fonts/roman/h-n-roman.woff") format("woff"),
    url("../fonts/roman/h-n-roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/roman-italic/h-n-roman-italic.eot?") format("eot"),
    url("../fonts/roman-italic/h-n-roman-italic.woff2") format("woff2"),
    url("../fonts/roman-italic/h-n-roman-italic.woff") format("woff"),
    url("../fonts/roman-italic/h-n-roman-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/medium/h-n-medium.eot?") format("eot"),
    url("../fonts/medium/h-n-medium.woff2") format("woff2"),
    url("../fonts/medium/h-n-medium.woff") format("woff"),
    url("../fonts/medium/h-n-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/medium-italic/h-n-medium-italic.eot?") format("eot"),
    url("../fonts/medium-italic/h-n-medium-italic.woff2") format("woff2"),
    url("../fonts/medium-italic/h-n-medium-italic.woff") format("woff"),
    url("../fonts/medium-italic/h-n-medium-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/bold/h-n-bold.eot?") format("eot"),
    url("../fonts/bold/h-n-bold.woff2") format("woff2"),
    url("../fonts/bold/h-n-bold.woff") format("woff"),
    url("../fonts/bold/h-n-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue for IBM";
  src: url("../fonts/bold-italic/h-n-bold-italic.eot?") format("eot"),
    url("../fonts/bold-italic/h-n-bold-italic.woff2") format("woff2"),
    url("../fonts/bold-italic/h-n-bold-italic.woff") format("woff"),
    url("../fonts/bold-italic/h-n-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "ibm-icons";
  src: url("../fonts/ibm-icons.eot?ytcz1z") format("eot"),
    url("../fonts/ibm-icons.eot?ytcz1z#iefix") format("embedded-opentype"),
    url("../fonts/ibm-icons.ttf?ytcz1z") format("truetype"),
    url("../fonts/ibm-icons.woff?ytcz1z") format("woff"),
    url("../fonts/ibm-icons.svg?ytcz1z#ibm-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm-glyph";
  src: url("../fonts/ibm-glyphs.eot?1b8643") format("eot"),
    url("../fonts/ibm-glyphs.eot?1b8643#iefix") format("embedded-opentype"),
    url("../fonts/ibm-glyphs.ttf?1b8643") format("truetype"),
    url("../fonts/ibm-glyphs.woff?1b8643") format("woff"),
    url("../fonts/ibm-glyphs.svg?1b8643#ibm-glyph") format("svg");
  font-weight: normal;
  font-style: normal;
}

.options-list {
  color: #2980b9;
  cursor: pointer;
}

.options-button {
  color: #ffffff;
  background-color: #214e6e;
  border-radius: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 8px;
  padding-right: 6px;
  margin: 5px 0px;
  width: 100%;
  cursor: pointer;
  text-align: center !important;
  display: inline-block;
}

.options-button:hover {
  background-color: #2980b9;
}
